/*
 * Andy Bell's Modern CSS Reset
 * https://piccalil.li/blog/a-modern-css-reset/
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

button {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

strong,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

::selection {
  background: var(--color-primary-blue-03);
  color: var(--color-white);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
