@import url("https://use.typekit.net/kfo0cep.css");

@mixin font-face($family,$src,$style: normal,$weight: normal) {
	@font-face {
		font-family: $family;
		src: url("#{$src}.woff2") format("woff2");

		font-style: $style;
		font-weight: $weight;
        font-display: auto;
	}
}

@include font-face("Karbon", "~ucla-library-design-tokens/assets/fonts/karbon-web-light", normal, 300);
@include font-face("Karbon", "~ucla-library-design-tokens/assets/fonts/karbon-web-regular", normal, 400);
@include font-face("Karbon", "~ucla-library-design-tokens/assets/fonts/karbon-web-medium", normal, 500);
@include font-face("Karbon", "~ucla-library-design-tokens/assets/fonts/karbon-web-semibold", normal, 600);
@include font-face("Karbon", "~ucla-library-design-tokens/assets/fonts/karbon-web-bold", normal, 700);


@font-face {
  font-family: 'Adjusted Tahoma Fallback';
  src: local(Tahoma);
  size-adjust: 85%;
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: 6%;
}
