$extra-large: "only screen and (min-width: 1681px)";
$large: "only screen and (max-width: 1440px)";
$medium: "only screen and (max-width: 1024px)";
$small: "only screen and (max-width: 750px)";
$has-hover: "(hover: hover)";

/* 
* TODO: EXPERIMENT
*

$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}
  */