$extra-large: "only screen and (min-width: 1681px)";
$large: "only screen and (max-width: 1440px)";
$medium: "only screen and (max-width: 1024px)";
$small: "only screen and (max-width: 750px)";
$has-hover: "(hover: hover)";
