$font-primary: "Karbon", "Adjusted Tahoma Fallback", Helvetica, Arial, sans-serif;
$font-secondary: "proxima-nova", Helvetica, Arial, sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height--2: 1;
$line-height--1:1.2;
$line-height-0: 1.6;

$letter-spacing-0: 0;
$letter-spacing-1: 0.01em;
$letter-spacing-2: 0.1em;
