@import "fonts";

@use "sass:math";

@mixin process-steps(
    $pos-steps,
    $min-size,
    $min-scale,
    $max-size,
    $max-scale,
    $var-bp,
    $prefix,
    $step-prefix) {

    --step--1: 16px;
    --step-0: 20px;
    
    @for $i from 0 through $pos-steps {
        $vmin: --#{$prefix}-#{$i}-min;
        $vmax: --#{$prefix}-#{$i}-max;

        #{$vmin}: $min-size * math.pow($min-scale, $i);
        #{$vmax}: $max-size * math.pow($max-scale, $i);

        --#{$step-prefix}-#{$i}: calc(((var(#{$vmin}) / 16) * 1rem) + (var(#{$vmax}) - var(#{$vmin})) * var(#{$var-bp}));
    }
}

$min-width: 375;
$min-size: 20;
$min-scale: 1.125;

$max-width: 1440;
$max-size: 20;
$max-scale: 1.333;

$pos-steps: 5;

$prefix: "fluid";
$step-prefix: "step";

$var-minw: --#{$prefix}-min-width;
$var-maxw: --#{$prefix}-max-width;
$var-screen: --#{$prefix}-screen;
$var-bp: --#{$prefix}-bp;

:root {
    #{$var-minw}: #{$min-width};
    #{$var-maxw}: #{$max-width};

    #{$var-screen}: 100vw;
    #{$var-bp}: calc((var(#{$var-screen}) - var(#{$var-minw}) / 16 * 1rem) / (var(#{$var-maxw}) - var(#{$var-minw})));
}

@media screen and (min-width: #{$max-width}px) {
    :root {
        #{$var-screen}: calc(var(#{$var-maxw}) * 1px);
    }
}

:root {
    @include process-steps(
        $pos-steps,
        $min-size,
        $min-scale,
        $max-size,
        $max-scale,
        $var-bp,
        $prefix,
        $step-prefix);
}

$font-primary: "Karbon", Helvetica, Arial, sans-serif;
$font-secondary: "Proxima Nova", Helvetica, Arial, sans-serif;

$font-weight-hairline: 100;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height--2: 1;
$line-height--1:1.2;
$line-height-0: 1.6; 

$letter-spacing-0: 0;
$letter-spacing-1: 0.01em;
$letter-spacing-2: 0.1em;

@mixin overline {
    font-family: $font-primary;
    font-size: var(--step--1);
    font-weight: $font-weight-medium;
    line-height: $line-height--2;
    letter-spacing: $letter-spacing-2;
    text-transform: uppercase;
}

@mixin step--1 {
  font-family: $font-secondary;
  font-size: var(--step--1);
  font-weight: $font-weight-regular;
  line-height: $line-height-0;
}

@mixin step-0 {
  font-family: $font-primary;
  font-size: var(--step-0);
  font-weight: $font-weight-regular;
  line-height: $line-height-0;
  letter-spacing: $letter-spacing-1;
}

@mixin step-1 {
  font-family: $font-primary;
  font-size: var(--step-1);
  font-weight: $font-weight-medium;
  line-height: $line-height--2;
}

@mixin step-2 {
  font-family: $font-primary;
  font-size: var(--step-2);
  font-weight: $font-weight-medium;
  line-height: $line-height--2;
}

@mixin step-3 {
  font-family: $font-primary;
  font-size: var(--step-3);
  font-weight: $font-weight-regular;
  line-height: $line-height--2;
}

@mixin step-4 {
  font-family: $font-primary;
  font-size: var(--step-4);
  font-weight: $font-weight-regular;
  line-height: $line-height--2;
}

@mixin step-5 {
  font-family: $font-primary;
  font-size: var(--step-5);
  font-weight: $font-weight-regular;
  line-height: $line-height--2;
}

h1 {
  @include step-5;
}

h2 {
  @include step-4;
}

h3 {
  @include step-3;
}

h4 {
  @include step-2;
}

h5 {
  @include step-1;
}

p {
  @include step-0;
}

.overline {
  @include overline;
}

.caption,
.note {
  @include step--1;
}
