@use "tokens.scss" as *;
@use "tokens-excluded.scss" as *;
@use "media-queries.scss" as *;

:root {
    --color-white: #{$white};
    --color-black: #{$black};

    // Primary colors
    --color-primary-yellow-01: #{$primary-yellow-01};
    --color-primary-blue-01: #{$primary-blue-01};
    --color-primary-blue-02: #{$primary-blue-02};
    --color-primary-blue-03: #{$primary-blue-03};
    --color-primary-blue-04: #{$primary-blue-04};
    --color-primary-blue-05: #{$primary-blue-05};

    // Secondary colors
    --color-secondary-yellow-01: #{$secondary-yellow-01};
    --color-secondary-yellow-02: #{$secondary-yellow-02};
    --color-secondary-yellow-03: #{$secondary-yellow-03};

    --color-secondary-blue-01: #{$secondary-blue-01};
    --color-secondary-blue-02: #{$secondary-blue-02};
    --color-secondary-blue-03: #{$secondary-blue-03};

    --color-secondary-grey-01: #{$secondary-grey-01};
    --color-secondary-grey-02: #{$secondary-grey-02};
    --color-secondary-grey-03: #{$secondary-grey-03};
    --color-secondary-grey-04: #{$secondary-grey-04};
    --color-secondary-grey-05: #{$secondary-grey-05};

    // Way Finder - Tertiary colors
    --color-default-cyan-01: #{$default-cyan-01};
    --color-default-cyan-02: #{$default-cyan-02};
    --color-default-cyan-03: #{$default-cyan-03};

    --color-help-green-01: #{$help-green-01};
    --color-help-green-02: #{$help-green-02};
    --color-help-green-03: #{$help-green-03};

    --color-visit-fushia-01: #{$visit-fushia-01};
    --color-visit-fushia-02: #{$visit-fushia-02};
    --color-visit-fushia-03: #{$visit-fushia-03};

    --color-about-purple-01: #{$about-purple-01};
    --color-about-purple-02: #{$about-purple-02};
    --color-about-purple-03: #{$about-purple-03};

    // Status colors
    --color-status-error-01: #{$status-error-01};
    --color-status-error-02: #{$status-error-02};

    --color-status-success-01: #{$status-success-01};
    --color-status-success-02: #{$status-success-02};

    // Unit sizing and spacing
    --unit-gutter: #{$whitespace-m-sides}px;
    --unit-vertical-gap: 100px;
    --unit-sticky-header-height: 96px;
    --unit-footer-height: 376px;

    --unit-full-width: #{$container-xl-full-width}px;
    --unit-banner-width: #{$container-xl-banner}px;
    --unit-cta-width: #{$container-l-cta}px;
    --unit-content-width: #{$container-l-main}px;
    --unit-center-column-max: var(--unit-content-width);
    --unit-center-text-max: #{$container-l-text}px;

    // Component spacing
    // $component-09: 48;
    // $component-08: 40;
    // $component-07: 32;
    // $component-06: 24;
    // $component-05: 16;
    // $component-04: 12;
    // $component-03: 8;
    // $component-02: 4;
    // $component-01: 2;

    // Paragraph spacing
    // $paragraph-spacing-1: 30;
    // $paragraph-spacing-0: 0;

        // Animation
    // $transition-timing-slow: 400ms;
    // $transition-timing-fast: 200ms;
    // $transition-timing-normal: 300ms;
    // $transition-easing: ease-in-out;
    // $transform-zoom-hover-l: scale(1.1);
    // $transform-zoom-hover: scale(1.04);
    // $transform-flip-horizontally: scaleX(-1);

    // Fonts
    --font-primary: #{$font-primary};
    --font-secondary: #{$font-secondary};

    // Borders
    --rounded-slightly-all: #{$rounded-slightly}px;
    --rounded-slightly-top: #{$rounded-slightly}px #{$rounded-slightly}px 0 0;

    // Gradients
    // $overlays-overlay-01: linear-gradient(117.49deg, #0F0F0F 0%, #0f0f0f40 31.88%, #0f0f0f00 58.42%), linear-gradient(180deg, #0f0f0f00 0%, #0f0f0f40 67.57%, #0F0F0F 100%);
    // $overlays-overlay-02: linear-gradient(90deg, #0f0f0f00 0%, #0f0f0f40 67.57%, #0f0f0f 100%);

    // $gradients-gradient-02: linear-gradient(260deg, #0b6ab7 7.91%, #1f75c5 35.23%, #0aa5ff 81.77%);
    // $gradients-gradient-01: linear-gradient(52deg, #0b6ab7 0%, #1f75c5 41.67%, #0aa5ff 93.36%);
    // $gradients-gradient-03: linear-gradient(20deg, #fd9be0 0%, #e29aee 15.42%, #c099ff 28.1%, #8ba0ef 40.31%, #0aa5ff 58.56%, #06bef2 79.6%, #00e0e0 100%);

    // Gradients
    --text-overlay: linear-gradient(
        0deg,
        hsla(0, 0%, 35.29%, 0) 0%,
        hsla(0, 0%, 34.53%, 0.034375) 16.36%,
        hsla(0, 0%, 32.42%, 0.125) 33.34%,
        hsla(0, 0%, 29.18%, 0.253125) 50.1%,
        hsla(0, 0%, 24.96%, 0.4) 65.75%,
        hsla(0, 0%, 19.85%, 0.546875) 79.43%,
        hsla(0, 0%, 13.95%, 0.675) 90.28%,
        hsla(0, 0%, 7.32%, 0.765625) 97.43%,
        hsla(0, 0%, 0%, 0.8) 100%
    );
    --gradient-01: linear-gradient(
        142.22deg,
        #0b6ab7 0%,
        #1f75c5 41.67%,
        #0a98f0 93.36%
    );
    --gradient-03: linear-gradient(
        144.09deg,
        #0B6AB7 2.22%,
        #1F75C5 46.81%,
        #0A95EB 85.22%
    );
    --gradient-image-01: linear-gradient(
        117.49deg,
        #0f0f0f 0%,
        rgba(15, 15, 15, 0.25) 31.88%,
        rgba(15, 15, 15, 0) 58.42%
    );

    --gradient-radial: #{$overlays-overlay-03};

    @media #{$medium} {
        --unit-gutter: #{$whitespace-m-sides}px;
        --unit-center-text-max: #{$container-m-text}px;
    }
    @media #{$small} {
        --unit-gutter: #{$whitespace-s-sides}px;
    }
}
